@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  font-family: Calibri;

  color: #495c4f;
  scroll-behavior: smooth;

  /* border: 1px solid black; */
  /* line-height: 1.5; */
  box-sizing: border-box;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #8badf4;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

body {
  /* background: linear-gradient(
    90deg,
    rgb(249, 251, 249) 0%,
    rgb(253, 252, 252) 50%,
    rgb(255, 255, 255) 100%
  ); */
  background: yellow;
}
.social::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 90px;
  top: 50;
  left: 10;
  background-color: blue;
}
.brand-list {
  list-style-type: disc;
}
